<div class="about-container">
    <h1><%= @heading %></h1>
    <hr>
    <img class="about-img" src="https://www.companysetup.ae/wp-content/uploads/2023/11/Start-a-Building-Materials-Trading-Company-in-Dubai-1200x675.jpg">
    <p><%= @text %></p>
</div>